@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

body {
    font-family: 'Arial', sans-serif;
    margin: 200px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    background-color: #ffffff;
}

.card {
    display: flex;
    justify-content: space-evenly;
    width: 90dvw;
    height: 90dvh;
    padding: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.all {
    padding-left: 15px;
    font-family: Baskervville, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}
.a {
    margin-top: 15px;
}
.b {
    margin-top: 15px;
}
.c {
    margin-top: 15px;
}
.d {
    margin-top: 15px;
}
.a p{
    margin: 0;
}
.b p{
    margin: 0;
}
.c p{
    margin: 0;
}
.d p{
    margin: 0;
}
.namee {
    font-size: 27px;
    font-weight: bold;
    color: #1A3559;
    
}

.post {
    font-size: 20px;
    font-weight: bold;
    color: #1A3559;
    
}

.QR-img {
    padding: 0;
    width: 330px;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: right;
}

.logo {
    display: flex;
    justify-content: center;
    width: 400px;
}

.logo-img {
    width: 100%;
    height: auto;
}

.info {
    font-size: 25px;
    color: #1A3559;
}

.info p {
    font-size: 30px;
    margin: 5px 0;
}

.info i {
    font-size: 30px;
    margin-right: 5px;
    color: #1A3559;
}

.info a {
    text-decoration: none;
    color: #1A3559;
    display: flex;
    align-items:center;
    margin-left: 0;
}

.factory {
    padding-left: 40px;
    font-size: 16px;
}

.button {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 30px; 
    position: absolute;
    right: 50%;
    bottom: 5%;
}

.next-but {
    min-width: 40px; 
    min-height: 20px;
    font-size: 18px; 
}

@media(max-width:860px)
{
    .body{
        overflow: hidden;
    }
    .card {
        flex-direction: column;
        min-height: auto;
        width: 100%;
        padding: 10px; 
        margin: 0;
    }

    .left, .right {
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center; 
    }

    .right{
        margin-top: -80px;
    }

    .logo-img, .QR-img 
    {
        width: 150px; 
    }

    .logo-img{
        padding-bottom: 5px;
    }

    .QR-img {
        padding-top: 10px;
    }

    .namee{
        font-size: 10px;;
    }
    .post{
        font-size: 5px;
    }


    .info p{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
    }

    .info i{
        font-size:10px;
        text-align: center;
    }

    .factory{
        padding-left: 17px;
    }

    .button {
        margin-top: 30px; 
        position: absolute;
        right: 45%;
        bottom: 5%;
    }

    .next-but {
        min-width: 10px; 
        min-height: 10px;
        font-size: 18px; 
    }
}
