@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}

.container {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden; 
}

.pages {
    display: flex;
    width: 200dvw;
    height: 100%;
    box-sizing: border-box;
}

.page {
    width: 100dvw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.one, .two {
    width: 100dvw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.card {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    min-height: 90dvh;
    min-width: 90dvw;
}

.left {
    padding-top:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.all {
    padding-left: 15px;
    font-family: Baskervville, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-decoration: none;
}

.a, .b, .c, .d {
    margin-top: 15px;
}

.a p, .b p, .c p, .d p {
    margin: 0;
}

.namee {
    font-size: 27px;
    font-weight: bold;
    color: #1A3559;
}

.post {
    font-size: 20px;
    font-weight: bold;
    color: #1A3559;
    padding-bottom: 2px;
}

.QR-img {
    
    width: 330px;
    height: auto;
    margin-bottom: 20px;
}

.info {
    font-size: 25px;
    color: #1A3559;
}

.info p {
    font-size: 30px;
    margin: 5px 0;
}

.info i {
    font-size: 30px;
    margin-right: 5px;
    color: #1A3559;
}

.info a {
    text-decoration: none;
    color: #1A3559;
    display: flex;
    align-items: center;
    margin-left: 0;
}

.factory {
    padding-left: 40px;
    font-size: 16px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: right;
}

.logo {
    display: flex;
    justify-content: center;
    width: 400px;
}

.logo-img {
    width: 100%;
    height: auto;
}

.title {
    font-family: Baskervville, sans-serif;
    padding-right: 20px;
}

.title p {
    font-size: 35px;
    color: #1A3559;
    margin-top: 5px;
    text-align: right;
}

.logotwo {
    max-width: 50dvw;
    height: auto;
}

.button {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 30px; 
    position: absolute;
    right: 50%;
    bottom: 5%;
}

@media (max-width: 860px) {
    body {
        overflow: hidden;
    }

    .card {
        flex-direction: column;
        min-height: auto;
        width: 100%;
        padding: 10px; 
        margin: 0;
    }

    .left, .right {
        display: flex;
        width: 100%;
        padding: 10px;
        justify-content: space-evenly;
        align-items: center;
        text-align: center; 
    }

    .right {
        margin-top: -80px;
    }

    .logo-img, .QR-img {
        width: 150px; 
    }

    .logo-img {
        padding-bottom: 5px;
    }

    .QR-img {
        padding-top: 10px;
    }

    .namee {
        font-size: 10px;
    }

    .post {
        font-size: 5px;
    }

    .info p {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 10px;
    }

    .info i {
        font-size: 10px;
        text-align: center;
    }

    .factory {
        padding-left: 17px;
    }

    .button {
        margin-top: 30px; 
        position: absolute;
        right: 45%;
        bottom: 5%;
    }

    
}
