body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.slide-out {
    transform: translateX(+100%);
    transition: transform 0.5s ease-in-out;
}

.logo{
    max-width: 50%;
    height: auto;
}

.button{
    display: flex;
    justify-content: center;
    align-items: bottom;
}

.next-but{
    min-width: 50px;
    min-height: 30px;
}

.button i{
    width:50px;
}
.button :hover{
    background-color: #1A3559;
}