
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

.slide-out {
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}


body {
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.card {
    margin: 0;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    min-height: 90dvh;
    min-width: 90dvw;
    
}

.button{
    position: absolute;
    bottom: 20px; /*distance from bottom */
    left: 50%;
    
}

.next-but{
    min-width: 50px;
    min-height: 30px;
}

.button i{
    width:50px;
}

.button :hover{
    background-color: #1A3559;
}
.left {
    /* flex: 0.8; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.logo-img {
    width: 350px;
    margin-bottom: 20px;
    /* border: 2px solid #24c7d6; */
}

.QR-img {
    margin-bottom: 20px;
    width:350px;
    /* border: 2px solid #511212; */
}

.right {
    /* flex: 1; */
    
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content:space-evenly;
    /* border: 5px solid #2442d6; */
}

.title{
    /* display: flex;
    align-items: end; */
    /* padding-right: 10%; */
    font-family: baskervville, sans-serif;
    padding-right: 20px;
    text-decoration: bold;
    /* border: 1px solid #8924d6; */
}

.title h2 {
    font-size: 50px;
    margin: 0;
    color: #1A3559;
    font-weight: 600;
    text-align: right;
    /* border: 5px solid #d624bb; */
    text-wrap:nowrap;
}

.title p {
    font-size: 35px;
    color: #1A3559;
    margin-top: 5px;
    text-align: right;
    /* border: 5px solid #1c2855; */
}


.bottomright {
    
    margin-top: 30px;
        
}
.info p {
    font-size: 25px;
    color: #1A3559;
    margin: 8px 0;
    /* border: 5px solid gold; */

}

.info .factory{
 padding-left: 40px;
}

.info a {
    color: #1A3559;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: normal;
    /* border: 5px solid orange; */
    
}

.info i {
    font-size: 25px;
    margin-right: 10px;
    color: #1A3559;
    /* border: 5px solid #1283ac; */
    
}

.info .link i {
    font-size: 20px;
    margin-right: 15px;
}

/* media querry */

@media (max-width: 860px) {
    .body{
        overflow: hidden;
    }
    .card {
        flex-direction: column;
        width: 100vw;
        height: 100dvh;
        padding: 10px; 
        
    }

    .left, .right {
        flex: 1;
        width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center; 
    }

    .logo-img, .QR-img {
        width: 170px; 
    }

    .QR-img {
        margin-top: 0px;
    }
    .title h2 {
        font-size: 22px; 
        text-align: center; 
        margin-bottom: 10px;
        margin-top: -40px;
    }

    .title p {
        font-size: 20px; 
        text-align: center;
    }
    .info{
        margin-top: -25px;
    }
    .info p {
        font-size: 14px;
        text-align: center; 
        margin: 5px 0; 
    }

    .bottomright {
        margin-left: 0;
        margin-top: 20px;
        text-align: center; 
    }

    .info a {
        justify-content: center;
        text-align: center;
        margin: 5px 0;
    }

    .info i {
        margin-right: 5px;
        font-size: 20px;
    }

    .button {
        /* display: flex;
        justify-content: center; 
        align-items: center;
        margin-top: 30px;  */
        position: absolute;
        left: 48%;
        bottom: 5%;
    }

    .next-but {
        min-width: 10px; 
        min-height: 10px;
        font-size: 15px; 
    }

}
