@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden; 
}
.pages {
    display: flex;
    width: 200dvw;
    height: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}


.page {
    width: 100dvw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.one, .two {
    width: 100dvw;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffffff;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.5s ease;
}


.card {
    margin: 0;
    padding:20px;
    display: flex;
    justify-content: space-evenly;
    min-height: 90dvh;
    min-width: 90dvw;
    
}
.left {
    /* flex: 0.8; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.logo-img {
    width: 350px;
    margin-bottom: 20px;
    /* border: 2px solid #24c7d6; */
}

.QR-img {
    margin-bottom: 20px;
    width:380px;
    /* border: 2px solid #511212; */
}

.right {
    /* flex: 1; */
    
    display: flex;
    flex-direction: column;
    align-items:end;
    justify-content:space-evenly;
    /* border: 5px solid #2442d6; */
}

.title{
    /* display: flex;
    align-items: end; */
    /* padding-right: 10%; */
    font-family: baskervville, sans-serif;
    padding-right: 20px;
    /* border: 1px solid #8924d6; */
}

.title h2 {
    font-size: 50px;
    margin: 0;
    color: #1A3559;
    font-weight: 600;
    text-align: right;
    /* border: 5px solid #d624bb; */
    text-wrap:nowrap;
}
/* .bold{
    font-weight: 600;
} */
.title p {
    font-size: 42px;
    color: #1A3559;
    margin-top: 5px;
    text-align: right;
    /* border: 5px solid #1c2855; */
}


.bottomright {
    
    margin-top: 20px;
    padding-top: 15px;
        
}
.info p {
    font-size: 30px;
    color: #1A3559;
    margin: 8px 0;
    /* border: 5px solid gold; */

}

.info .factory{
 padding-left: 40px;
}

.info a {
    color: #1A3559;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: normal;
    /* border: 5px solid orange; */
    
}

.info i {
    font-size: 30px;
    margin-right: 10px;
    color: #1A3559;
    /* border: 5px solid #1283ac; */
    
}

.info .link i {
    font-size: 20px;
    margin-right: 15px;
}
.left {
    /* flex: 0.8; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.bottomright {
    margin-top: 60px;
}        

.button{
    position: absolute;
    bottom: 20px; /*distance from bottom */
    left: 50%;
    
}

.container .button_container {
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1s;
  }
  
  .container .button_container .buttons {
    display: flex;
    align-items: center;
  }
  .container .pages .item:nth-child(1) {
      width: 100dvw;
      align-self: center;
  }
  
    .container .dots li {
      background-color: var(--dots-color);
  
    }
    
    .container .buttons button {
      background-color: var(--container-button-color);
      color: var(--text-color);
    }
  .container .buttons button {
    background-color: var(--container-button-color);
    border: none;
    font-size: 2.5rem;
    padding-top: 0.15rem;
    height: fit-content;
    align-self: center;
    font-weight: bold;
    transition: transform 0.3s;
  
    cursor: pointer;
  }
  
  button i{
      padding: 5px;
  }
  .container .buttons button:hover {
    transform: scale(1.3);
  }
  
  .container .dots {
    /* color: var(--dots-w); */
    display: flex;
    width: 100%;
  }
  
  .container .dots li {
    list-style: none;
    width: 0.9rem;
    height: 0.9rem;
    color: var(--dots);
    margin: 0.4rem;
    border-radius: 0.9rem;
    transition: 0.5s;
  }
  
  .container .dots li.active {
    width: 3rem;
  }
  
  :root {
      --background-color: #ffffff;
      --text-color: #1A3559;
      --dots-color: #1A3559;
      --link-color: #1A3559;
      --container-button-color: rgba(0, 0, 0, 0);
    }


.logotwo{
    max-width: 50dvw;
    height: auto;
}


@media (max-width: 965px) {
    body {
        overflow: hidden;
        padding: 0;
        margin-top:-30px;
    }
    .card {
        display:flex;
        flex-direction: column;
        min-height: auto;
        width: 100%;
        padding: px;
        margin: 0;
        margin-left: -30px;
    }
    .left, .right {
        flex: 1;
        width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-img, .QR-img {
        width: 150px;
    }

    .QR-img {
        margin-top: -30px;
    }

    .title h2 {
        font-size: 22px;
        text-align: center;
        margin-bottom: 10px;
        margin-top: -40px;
        padding-left: 21px;
    }

    .title p {
        font-size: 20px;
        text-align: center;
        padding-left: 25px;
    }

    .info {
        margin-top: -25px;
    }

    .info p {
        font-size: 14px;
        text-align: center;
        margin: 5px 0;
    }

    .bottomright {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .info a {
        justify-content: center;
        text-align: center;
        margin: 5px 0;
    }

    .info i {
        margin-right: 5px;
        font-size: 20px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        position: absolute;
        right: 50%;
        bottom: 5%;
    }
}
