@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Added for consistent layout behavior */
}

.container {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden; 
}

.pages {
    display: flex;
    width: 200dvw;
    height: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}

.page {
    width: 100dvw;
    height: 100dvh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.one, .two {
    width: 100dvw;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    overflow: hidden;
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.card {
    margin: 0;
    padding: 2dvh;
    display: flex;
    justify-content: space-evenly;
    min-height: 90dvh;
    min-width: 90dvw;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.logo-img {
    height: 30dvh;
    margin-bottom: 2dvh;
}

.QR-img {
    margin-bottom: 2dvh;
    height: 43dvh;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}

.title {
    font-family: 'Baskervville', sans-serif;
    padding-right: 2dvh;
}

.title h2 {
    font-size: 6dvh; /* Responsive font size */
    margin: 0;
    color: #1A3559;
    font-weight: 600;
    text-align: right;
    text-wrap: nowrap;
}

.title p {
    font-size: 3.7dvh; /* Adjusted to scale with viewport width */
    color: #1A3559;
    margin-top: 0.5dvh;
    text-align: right;
}

.bottomright {
    margin-top: 2dvh;
    padding-top: 2dvh;
}

.info p {
    font-size: 3.7dvh; /* Scales with viewport width */
    color: #1A3559;
    margin: 0.8dvh 0;
}

.info .factory {
    padding-left: 4.7dvh;
}

.info a {
    color: #1A3559;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: normal;
}

.info i {
    font-size: 3.7dvh;
    margin-right: 1dvh;
    color: #1A3559;
}

.info .link i {
    font-size: 3.7dvh;
    margin-right: 1dvh;
}

.bottomright {
    margin-top: 6dvh;
}

.button {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.container .button_container {
    position: absolute;
    bottom: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: 1s;
}

.container .button_container .buttons {
    display: flex;
    align-items: center;
}

.container .pages .item:nth-child(1) {
    width: 100dvw;
    align-self: center;
}

.container .dots li {
    background-color: var(--dots-color);
}

.container .buttons button {
    background-color: var(--container-button-color);
    color: var(--text-color);
}

.container .buttons button {
    background-color: var(--container-button-color);
    border: none;
    font-size: 3dvh; /* Scales with viewport */
    padding-top: 0.2dvh;
    height: fit-content;
    align-self: center;
    font-weight: bold;
    transition: transform 0.3s;
    cursor: pointer;
}

button i {
    padding: 5px;
}

.container .buttons button:hover {
    transform: scale(1.3);
}

.container .dots {
    display: flex;
    width: 100%;
}

.container .dots li {
    list-style: none;
    width: 2dvh;
    height: 2dvh;
    margin: 1dvh;
    border-radius: 2dvh;
    transition: 0.5s;
}

.container .dots li.active {
    width: 5dvh;
}
#prev i, #next i {
    font-size: 5dvh;
}

  :root {
      --background-color: #ffffff;
      --text-color: #1A3559;
      --dots-color: #1A3559;
      --link-color: #1A3559;
      --container-button-color: rgba(0, 0, 0, 0);
    }


.logotwo{
    width: 90dvh;
    height: auto;
}


@media (max-width: 860px) {
    
    .nbsp {
        display: none;
    }
    
    body {
        overflow: hidden;
        padding: 0;
       
    }
    .card {
        display:flex;
        flex-direction: column;
        min-height: auto;
        width: 100%;
        margin: 0;
        margin-left: -30px;
    }
    .left, .right {
        flex: 1;
        width: 100%;
        padding: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .logo-img, .QR-img {
        width: 40dvh;
        
    }

    .QR-img {
        margin-top: -30px;
    }

    .logotwo{
        width: 90dvw;
    }

    .title h2 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 10px;
        margin-top: -40px;
        padding-left: 21px;
    }

    .title p {
        font-size: 1.1rem;
        text-align: center;
        padding-left: 25px;
    }

    .info {
        margin-top: -25px;
    }

    .info p {
        font-size: .8rem;
        text-align: center;
        margin: 5px 0;
    }

    .bottomright {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }

    .info a {
        justify-content: center;
        text-align: center;
        margin: 5px 0;
    }

    .info i {
        margin-right: 0rem;
        font-size: .8rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        position: absolute;
        right: 50%;
        bottom: 5%;
    }

    .container .buttons button {
        font-size: 1.8rem;
        padding-top: 0.1rem;
        transform: scale(1); 
    }

    .container .buttons button:hover {
        transform: scale(1.1); 
    }

    .container .dots li {
        width: 0.6rem; 
        height: 0.6rem;
        margin: 0.2rem;
    }

    .container .dots li.active {
        width: 2rem; 
    }
}
